<!DOCTYPE html>
<html>
<head>
	<title>Linksiodically</title>
	<link rel='stylesheet' href='http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.min.css'>
	<link rel='stylesheet' href='/css/app.css'>
</head>
<body>
    <div class="row">
	    <div class="small-6 small-centered columns"><a href="/"><h1>Linksiodically</h1></a>
	   		<%= render 'index' %>
	    	<%= yield %>
	    </div>
	</div>
	

</body>
</html>